
/data_preprocessing/ud-treebanks-v2.4
/data_preprocessing/LDC2016T13
/data_preprocessing/LDC10T07
/data_preprocessing/LDC07T36
/data_preprocessing/LDC05T01
/data_preprocessing/LDC05T01/
/data_preprocessing/LDC07T36/
/data_preprocessing/LDC10T07/
/tmp/
